<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688032127071-62mil5mcpijrrvetjr4hdupg003gi25h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688032127071-62mil5mcpijrrvetjr4hdupg003gi25h</string>
	<key>API_KEY</key>
	<string>AIzaSyBr26ih0rwKJR1jO7w6c8K6EroqqBBcy5U</string>
	<key>GCM_SENDER_ID</key>
	<string>688032127071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buddhaMindfulness</string>
	<key>PROJECT_ID</key>
	<string>swaminarayanstatus-f8550</string>
	<key>STORAGE_BUCKET</key>
	<string>swaminarayanstatus-f8550.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688032127071:ios:4f10689d8af7521ec2e3ea</string>
</dict>
</plist>